form{

	li{
		list-style: none;
	}

	li p, li button{
		display: inline-block;
	}

	// input{
	// 	height: 70px;
	//     border: solid 5px yellow;
	//     background: #2286e8;
	//     box-sizing: border-box;
	//     vertical-align: middle;

	//     &:first-child{
	//     	width: 84%;
	//     	font-size: 1.3em;
	// 	    color: yellow;
	// 	    text-indent: 20px;
	// 	    font-family: 'bebas_neue_regularregular';
	// 	    letter-spacing: .2em;
	//     }

	//     &:nth-child(2){
	//     	width: 14%;
	//     	margin-left: 1%;
	//     	font-size: 3em;
	//     	padding-top: 5px;
	//     }
	// }
	
}

.wrapper{
	// margin: 0 11%;

	input{
		height: 70px;
	    border: solid 5px yellow;
	    background: #2286e8;
	    box-sizing: border-box;
	    vertical-align: middle;
    	width: 84%;
    	font-size: 1.3em;
	    color: yellow;
	    text-indent: 20px;
	    font-family: 'bebas_neue_regularregular';
	    letter-spacing: .2em;
    }

    button{
    	height: 70px;
	    border: solid 5px yellow;
	    background-color: #2286e8;
	    box-sizing: border-box;
	    vertical-align: middle;
    	width: 14%;
    	margin-left: 1%;
    	font-size: 3em;
    	padding-top: 5px;
    	float: right;
    }

}

.top_picks{


	div{
	    width: 60%;
	    text-align: center;
	    margin: 0 auto;

		img{
			border: solid 10px black;
		    width: 100%;
		    box-sizing: border-box;
		    display: block;
		    margin: 0;
		    padding: 0;
		}
	}

	h1{
			font-size: 1.5em;
			text-align: center;
		}
}

.searchresults{
	// display: none;
	
	li{
		display: block;
	}
}

#active{
	display: block;
}



   