@media screen and (min-width:700px){

	main{
		margin:0 auto;
	}

	.star{
		display: block;
		position: absolute;
		top: -85px;
    	left: -90px;
		z-index: 100;
		width: 280px;
	}

	header{
		width: 82%;
		margin:0 auto;
		height: 115px;

		h1{
			margin: 0;
			margin-left:5%;
			font-size:1.5em;
			float: left;
			text-align: left;
		}

		.first_s{
			font-size:3em;
		}

		.top_nav{
			padding:0;
			// margin:30px 0 0 0;
			float:right;
			width:auto;
			display: table;

			a{
				padding: 15px 50px;
			}

			button{
				// float: left;
				width: 160px;
				margin-left: 30px;
			}
		}

		li{
			color:yellow;
			padding:5px 0;
			width:auto;

			&:last-child a{
				padding: 10px 30px;
				margin-left: 30px;
			}
		}

	}

	.buttons{

		img{
    		// position: absolute;
    		// left: 41%;
    		// top: 43%;
    		width: 100%;
		}
	}

	.character_button{
		// background:url(../img/choose_button.png);
		// background-repeat:no-repeat;
		display:block;
		width:220px;
		height:200px;
		position: relative;
		font-family: bebas_neue_regularregular;
		left: 30%;
		top:0;
		// float: left;
	}

	.battle_button{
		// background:url(../img/choose_button.png);
		// background-repeat:no-repeat;
		display:block;
		width:220px;
		height:200px;
		left:30%;
		top:0;
		// float: lesft;
	}

	.main_toppicks, .recent_battles{
		// float:left;
		// width:50%;

		ul{

		}

		li{
			text-align:center;

			img{
				float: none;
			}

			p{
				float: none;
			}
		}
	}

	.picks_battles{

		.main_toppicks{

		.top_pick_right, .top_pick_left{

			float: left;
			width: 50%;

			li{
				display: block;
			
				img{
					float:none;
					width:80%;
				}
			}

			p{
				float:none;
			}
		}
		}
	}

	.recent_battles{

		ul{
			float: left;
			width: 50%;
		}
	}

	.battle1, .battle2{
		// width:505px;
		width:100%;
		height:200px;
		margin: 0 auto 20px auto;
	}

	footer{
    	// height: 100px;
    	// margin: 0 auto;
    	// padding: 0 7.5%;

    	
	}

/* Characters */

	.combatant{
		width: 50%;
		float: left;
		padding-top: 72%;
	}

	.bio_img{
		position: absolute; 
	}

	.top_picks{

		div{
			float: left;
		    width: 30%;
		    margin-right: 5%;
		    text-align: center;

		    &:last-child{
				margin: 0;
			}
		}

		h1{
			text-align: left;
		}
	}

	/* Matchup */

	.character_1, .character_2{
		float: left;
		width: 50%;

		.pre-pick{
			.choose_icon{
				padding: 20% 0;
			}
		}

		.picked{
			padding-top: 100%;
		}

		.hero-pick{

			.power_rating{
				display: block;
			}
		}
	}

	.versus{
		position: absolute;
	    left: 40%;
	    top: 30%;
	    z-index: 25;
	    display: block;
	    width: 20%;
	}

	.searchresults{

		li{
			text-align: left;

			img{
				margin-right: 20%;
			}

			button{
				float: right;
				margin: 0;
				width: 17%;
			}
		}
	}

	/* Fight */

	.combatant_one, .combatant_two{
		width: 249px;
	}

	.turns li{
		font-size: 1.5em;
	}

	.battle_labels{

		li{
			font-size: 1.5em;
		}
	}

	.victories_left, .victories_right{

		.wins, .percent{
			font-size: 3.5em;
		}
	}

	.battle_buttons{
		display: flex;

		.button{
			flex:1;
			width: auto;
		}
	}

	/* Bio */

	.card{
		margin-bottom: 40px;
	}

	.combatant{

		background-size: contain;
		padding-bottom: 70px;

		.bio_img{
			top: 8%;
			margin: 4% 7% 17% 7%;
		}

		h1{
			font-size: 1.8em;
			width: auto;

			&:first-letter{
				font-size: 2em;
			}
		}
	}

	.yellow_box{

		h1{
			top: 13%;
			left: 65px;
			font-size: 2em;
		}
	}

	.character_bio{

		width: 50%;

  		h1{
  			font-size: 1.2em;
  		}

  		span{
    		font-size: 3em;
    		top: -17px;
    		left: -40px;
  		}

  		button{
  			margin-bottom: auto;
  		}

  		.magical_div{
  			margin-bottom: 10px;
  		}
	}

	.wins_losses{


		h3{
			float: left;
		}
	}

}